<div class="footer">
    <div class="pre-footer">
        <h3 class="title-pre-footer">NOS PARTENAIRES</h3>
        <div class="imgs-pre-footer">
            <img src="../../assets/logo-partner.png" alt="" class="img-pre-footer">
            <img src="../../assets/logo-partner.png" alt="" class="img-pre-footer">
            <img src="../../assets/logo-partner.png" alt="" class="img-pre-footer">
            <img src="../../assets/logo-partner.png" alt="" class="img-pre-footer">
            <img src="../../assets/logo-partner.png" alt="" class="img-pre-footer">
            <img src="../../assets/logo-partner.png" alt="" class="img-pre-footer">
            <img src="../../assets/logo-partner.png" alt="" class="img-pre-footer">
        </div>
    </div>
    <div class="mid-footer">
        <div class="logos-mid-footer">
            <img src="../../assets/logo-step-blanc.png" alt="" class="img-mid-footer">
            <div class="links-mid-footer">
                <a href="#" class="link-mid-footer"><fa-icon [icon]="twitterIcon"></fa-icon></a>
                <a href="#" class="link-mid-footer"><fa-icon [icon]="linkedinIcon"></fa-icon></a>
                <a href="#" class="link-mid-footer"><fa-icon [icon]="facebookIcon"></fa-icon></a>
                <a href="#" class="link-mid-footer"><fa-icon [icon]="instagramIcon"></fa-icon></a>
            </div>
        </div>
        <div class="lists-mid-footer">
            <ul class="list-wrapper-mid-footer">
                <h3 class="titre-list-mid-footer">Exercia</h3>
                <a href="#" class="list-mid-footer">Consectetur</a>
                <a href="#" class="list-mid-footer">Adipiscing</a>
                <a href="#" class="list-mid-footer">Eiusmod</a>
                <a href="#" class="list-mid-footer">Tempor</a>
                <a href="#" class="list-mid-footer">Incididunt</a>
            </ul>
            <ul class="list-wrapper-mid-footer">
                <h3 class="titre-list-mid-footer">Exercia</h3>
                <a href="#" class="list-mid-footer">Consectetur</a>
                <a href="#" class="list-mid-footer">Adipiscing</a>
                <a href="#" class="list-mid-footer">Eiusmod</a>
                <a href="#" class="list-mid-footer">Tempor</a>
                <a href="#" class="list-mid-footer">Incididunt</a>
            </ul>
            <ul class="list-wrapper-mid-footer">
                <h3 class="titre-list-mid-footer">Exercia</h3>
                <a href="#" class="list-mid-footer">Consectetur</a>
                <a href="#" class="list-mid-footer">Adipiscing</a>
                <a href="#" class="list-mid-footer">Eiusmod</a>
                <a href="#" class="list-mid-footer">Tempor</a>
                <a href="#" class="list-mid-footer">Incididunt</a>
            </ul>
            <ul class="list-wrapper-mid-footer">
                <h3 class="titre-list-mid-footer">Exercia</h3>
                <a href="#" class="list-mid-footer">Consectetur</a>
                <a href="#" class="list-mid-footer">Adipiscing</a>
                <a href="#" class="list-mid-footer">Eiusmod</a>
                <a href="#" class="list-mid-footer">Tempor</a>
                <a href="#" class="list-mid-footer">Incididunt</a>
            </ul>
        </div>
    </div>
    <div class="last-footer">
        <p class="text-last-footer">Copyright STEP 2021</p>
    </div>
</div>
