<div class="navbarWrapper">
    <div class="navbarImg">
        <a routerLink="/">
            <img src="../../assets/logo-step.png" alt="Logo de l'entreprise">
        </a>
    </div>
    <nav class="navbarLinks">
        <a class="navbarLink" routerLink="/">Accueil</a>
        <a class="navbarLink" routerLink="/missions">Missions</a>
        <a class="navbarLink" routerLink="/metiers">Métiers</a>
        <a class="navbarLink" routerLink="/contact">Contact</a>
        <a class="navbarLink" routerLink="/service-details"><img src="../../assets/eye.svg" alt="eye icon"></a>
    </nav>
</div>
