<div class="card">
    <div class="infoCard">
        <div class="header">
            <img class="logo" src="../../../../assets/logo-step-blanc.png" alt="logo header">
        </div>
        <div class="main">
            <h2 class="title">Technopole Hélioparc</h2>
            <p class="text">2 avenue du président Pierre Angot<br>64053 Pau CEDEX</p>
            <div class="contact">
                <div class="tel">
                    <img class="telImage" src="../../../../assets/phone.svg" alt="icon phone">
                    <p class="telText">05 59 14 78 79</p>
                </div>
                <div class="mail">
                    <img class="mailImage" src="../../../../assets/mail.svg" alt="icon mail">
                    <p class="mailText">contact@step.eco</p>
                </div>
                <p class="horaires">Du lundi à vendredi de 09h00 à 18h00</p>
            </div>
        </div>
    </div>
    <div class="mapCard">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5016.67467551479!2d-0.36727364002397744!3d43.31937176554189!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5648afe24e3365%3A0x503142a10cf1a61b!2sSTEP!5e0!3m2!1sfr!2sfr!4v1702646894770!5m2!1sfr!2sfr" 
            width="100%" 
            height="350px" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
    </div>
</div>