<div class="card_wrapper">
    <div class="card_left">
        <h3 class="card_title">Des solutions & métiers adaptés à tous vos besoins</h3>
        <p class="card_subtitle">Pinus estiles mergotim relativae a utilienensis</p>
        <div class="card_list_links">
            <div class="card_list_links_left">
                <a href="#" class="card_link">
                    <img class="card_link_img" src="" alt="">
                    <p class="card_link_text">Flux documentaires</p>
                </a>
                <a href="#" class="card_link">
                    <img class="card_link_img" src="" alt="">
                    <p class="card_link_text">Studio de développement</p>
                </a>
                <a href="#" class="card_link">
                    <img class="card_link_img" src="" alt="">
                    <p class="card_link_text">L'atelier numérique</p>
                </a>
                <a href="#" class="card_link">
                    <img class="card_link_img" src="" alt="">
                    <p class="card_link_text">Livraison urbaine</p>
                </a>
            </div>
            <div class="card_list_links_right">
                <a href="#" class="card_link">
                    <img class="card_link_img" src="" alt="">
                    <p class="card_link_text">Service postal</p>
                </a>
                <a href="#" class="card_link">
                    <img class="card_link_img" src="" alt="">
                    <p class="card_link_text">Conciergerie d'entreprise</p>
                </a>
                <a href="#" class="card_link">
                    <img class="card_link_img" src="" alt="">
                    <p class="card_link_text">Formations</p>
                </a>
            </div>
        </div>
    </div>
    <div class="card_right">
        <div class="card">
            <img src="../../../../assets/manCoffee.jpg" alt="" class="card_img">
            <div class="card_buttons_right_left">
                <button class="left">
                    <img src="../../../../assets/leftArrow.svg" alt="">
                </button>
                <button class="right">
                    <img src="../../../../assets/rightArrow.svg" alt="">
                </button>
            </div>
            <h3 class="card_title_2">Flux documentaires</h3>
            <p class="card_text">Je suis une description qui supporte le titre</p>
            <button class="card_button">Voir plus</button>
            <div class="back_card"></div>
        </div>
    </div>
</div>
