<div class="container"> 
    <div class="left-container">
        <form class="form" action="POST">
            <h2 class="form-title">Contactez-nous</h2>
            <p class="form-subtitle">Avez vous une question ? N'hésitez pas. Nousp ouvons vous aider</p>
            <select name="select" class="form-select"></select>
            <div class="name-container">
                <div class="name-wrap">
                    <label for="form-name">Nom <span>*</span></label>
                    <input type="text" class="form-name" name="form-name" placeholder="Votre nom">
                </div>
                <div class="firstname-wrap">
                    <label for="form-firstname">Prénom <span>*</span></label>
                    <input type="text" class="form-firstname" name="form-firstname" placeholder="Votre prénom">
                </div>
            </div>
            <div class="info-container">
                <div class="email-wrap">
                    <label for="form-email">Email <span>*</span></label>
                    <input type="text" class="form-email" name="form-email" placeholder="Votre adresse email">
                </div>
                <div class="tel-wrap">
                    <label for="form-tel">Tel <span>*</span></label>
                    <input type="text" class="form-tel" name="form-tel" placeholder="Votre téléphone">
                </div>
            </div>
            <div class="company-wrap">
                <label for="form-company">Entreprise <span>*</span></label>
                <input type="text" class="form-company" name="form-company" placeholder="Votre entreprise">
            </div>
            <div class="msg-wrap">
                <label for="form-msg">Laissez nous un message <span>*</span></label>
                <input type="textarea" class="form-msg" name="form-msg" placeholder="Ecrivez nous un message">
            </div>
            <div class="submit-wrap">
                <!-- <input type="submit" class="form-submit" name="form-submit"> -->
                <button type="button" class="form-submit">Envoyer</button>
                <p>Vos données seront bien traitées et vous ne recevrez aucune communication automatique sans votre accord préalable.</p>
            </div>
        </form>
    </div>
    <div class="right-container">
        <img class="img-right" src="./../../assets/8905154.jpg" alt="bike man">
    </div>
</div>
