<div class="cardWrapper">
    <div class="firstCard">
        <div class="secondCard">
            <p>Jusqu'à<br><span>90%</span><br> d'économie d'energie</p>
        </div>
        <img class="imageCard" src="../../../../assets/woman.png" alt="woman with flower">
    </div>
    <div class="firstText">
        <div class="titleCard">
            <p><span>L'écoconception</span> au centre de nos démarches</p>
        </div>
        <div class="texts">
            <p class="text1">Pirus estiles mergotim relativae a utilienensis et la cartae maxima mergo et volio renecta dolienonsis a la praesum et Salta.</p>
            <p class="text2">Pirus estiles mergotim relativae a utilienensis et la cartae maxima</p>
        </div>
        <div class="buttonText">
            <div class="text">Texte de support pour la question</div>
            <button class="button">Voir plus</button>
        </div>
    </div>
</div>
